<% if flash[:success] %>
    <div class="alert alert-success">
        <%= flash[:success] %>
        
    </div>
<% end %>
<h1>Pictures#index</h1>
<p>Find me in app/views/pictures/index.html.erb</p>
<%= link_to("Add a Snap" , new_picture_path) %>
<br>
<br>

<ul>
<% @pictures.each do |p| %>

    <li>
        <%= link_to picture_path(p) do %>
        <img id="" src="<%= p.picture_url %>" width="200">
        <% end %>
    </li>
<li> <%= link_to(p.caption, picture_path(p)) %></li>
<BR>
<BR>
<% end %>
</ul>

<BR>
<BR>
<%= link_to("Add a Snap" , new_picture_path) %>
<br>
<br>
