<% if flash[:success] %>
    <div class="alert alert-success">
        <%= flash[:success] %>
        
    </div>
<% end %>

<h1>Pictures#index</h1>
<p>Find me in app/views/pictures/index.html.erb</p>
<%= link_to("Add a Snap" , new_picture_path) %>
<br>
<br>


<div class="row">
    <div class="col-md-4">
            <div class="thumbnail"><!-- BEGIN THUMBNAIL -->
                    <% @pictures.each do |p| %>
                            <%= link_to picture_path(p) do %>
                            <img id="" src="<%= p.picture_url %>" style="width:100%" class="img-thumbnail">
                            <% end %>    
                        <div class="caption">
                            <p><%= link_to(p.caption, picture_path(p)) %></p>
                            <p><i style="color:grey">Comments:</i></p>
                            <p>
                                <% p.comments.last(2).each do |x| %>
                                    <p><%= x.body %></p>
                                <% end %>
                            </p>

                        </div>
                        <% end %>
            </div> <!-- END THUMBNAIL -->
    </div>  <!--END COLUMN -->
  </div> <!--END ROW -->


<BR>
<BR>
<%= link_to("Add a Snap" , new_picture_path) %>
<br>
<br>
