<div id="pictures_main_div"> <!--PAGE DIV -->

<% if flash[:success] %>
    <div class="alert alert-success">
        <%= flash[:success] %>
        
    </div>
<% end %>

<!-- 
<h1>Pictures#index</h1>
<p>Find me in app/views/pictures/index.html.erb</p>
-->

<p class="snapLinkOne"><%= link_to("Add a Snap" , new_picture_path) %></p>

<% @pictures.each_slice(2) do |row| %>
  <div class="row">
    <% row.each do |g| %>
        <div class="col-sm-6">
            <div class="card my_card" id="my_card">
                        <div class="thumbnail" ><!-- BEGIN THUMBNAIL -->
                            <%= link_to picture_path(g) do %>
                            <img id="" src="<%= g.picture_url %>" style="width:100%" class="">
                            <% end %>    
                        <div class="caption">
                            <p id="caption_title"><%= link_to(g.caption, picture_path(g)) %></p>
                            <p><i style="color:grey">Comments:</i></p>
                            
                                <% g.comments.last(2).each do |x| %>
                                    <p><%= x.body %></p>
                                <% end %>
                            

                        </div><!--END caption -->
                        </div> <!-- END THUMBNAIL -->
          <div class="card-body">
            <h5 class="card-title"></h5>
          </div><!--END card-body DIV -->
        </div><!--END MYCARD DIV -->
      </div><!--END COL-6 DIV -->
    <% end %>
  </div><!--END ROW DIV -->
<% end %>

                                         </div><!--END caption -->
                                    </div> <!-- END THUMBNAIL INNER -->
                            </div>  <!--END thumbnail  -->
                            <% end %> <!-- end pictures EACH -->
                    
                </div> <!-- end thumbnail_outer -->
       
        </div> <!--END gallery -->



<p class="snapLinkTwo"><%= link_to("Add a Snap" , new_picture_path) %></p>
<br>
<br>
</div> <!--PAGE DIV -->
