
<!--
<h1>Pictures#show</h1>
<p>Find me in app/views/pictures/show.html.erb</p>
-->

<div class="row " style ="">   <!-- ROW DIV -->
        <div class="col-md-12 pictures_show_div" style ="border: 0px red solid"><!-- COL DIV -->
            <div class="card" id="my_card" style =""><!-- BEGIN THUMBNAIL -->
                    
                    <img id="pictures_show_pic" src="<%= @picture.picture_url %>" style="width:100%" class="img-responsive img-rounded" >
                    <div class="picture_caption_div">
                            <span id="caption_title_show"><%= @picture.caption %></span>
                            <p><%= @picture.city %></p>
                            <p><%= @picture.country %></p>
                            <p id="show_snapped_by"> Snapped By: <%= link_to("#{@picture.user.name}", user_path(@picture.user), class: "nav-link") %></p>
                            <%= link_to user_path(@picture.user) do %>
                            <img id="small_profile_pic" src="<%= @picture.user.profile_pic %>" style="" class="">
                            <% end %>   
                            
                        <span id="show_span_links" style="font-size:10pt;">
                            <% if @picture.user == current_user %>
                                <%= link_to("Edit" , edit_picture_path(@picture) ) %>
                                <%= link_to("Delete" , picture_path(@picture), method: "delete", data: {confirm: 'Are you sure?' }) %>
                            <% end %>
                        </span>
                    </div>

                    <div class="pictures_show_comments_div" style ="background-color: rgba(255,255,255,0.65)"><!-- Comments DIV -->
                    <h4> Comments</h4>
                        <ul>
                            <% @comments.each do |c| %>
                                <% if c.picture_id == params[:id].to_i %>
                                        <%= link_to user_path(c.user) do %>
                                                <img class="small_inline_pic" src="<%= c.user.profile_pic %>" style="" >
                                        <% end %>
                                        
                                        <li><%= c.body %></li>
                                        <p>-<%= link_to("#{c.user.name}" , user_path(c.user)) %></p>
                                                <p>
                                                <% if session[:user_id] == @picture.user_id || session[:user_id] == c.user_id%>  <!--If owner of picture, delete all comments OR if not owner of picture, delete only personal comments -->
                                                    <%= link_to("Delete" , picture_comment_path(@picture, c), method: "delete", data: {confirm: 'Are you sure?' }) %>
                                                <% end %>
                                                </p>
                                <% end %>
                            <% end %>
                        </ul>

                    <!-- **** ADD COMMENT ******  -->
                    <%= form_for [@picture, @comment] do |f| %>   <!-- #new note, start at PICTURE and point to COMMENT=CREATE page -->
                        <%= f.text_field(:body, placeholder: "Write a comment...") %>
                        
                        
                        <%= f.submit("Add Comment") %>
                    <% end %>
                    <!-- **** END COMMENT ******  -->
                    <BR>
                    </div><!-- END COMMENTS DIV -->
        </div> <!-- END THUMBNAIL -->
    </div> <!-- END thumbnail DIV -->
</div> <!-- END gallery DIV -->