<h1>Pictures#show</h1>
<p>Find me in app/views/pictures/show.html.erb</p>

<ul>
<li><img id="" src="<%= @picture.picture_url %>" width="200"></li>
<li><%= @picture.caption %></li>
<BR>
<BR>
<li>City: <%= @picture.city %></li>
<li>Country: <%= @picture.country %></li>
<li>Snapped By: <%= @picture.user.name %></li>
</ul>

<BR>

<% if @picture.user == current_user %>
    <%= link_to("Edit" , edit_picture_path(@picture) ) %>
    <%= link_to("Delete" , picture_path(@picture), method: "delete", data: {confirm: 'Are you sure?' }) %>
<% end %>
<br>


<h3> Comments</h3>
    <ul>
        <% @comments.each do |c| %>
            <% if c.picture_id == params[:id].to_i %>
                    <li><%= c.body %></li>
                    <p>-<%= c.user.name %></p>
                            <p>
                            <%= link_to("Delete" , picture_comment_path(@picture), method: "delete", data: {confirm: 'Are you sure?' }) %>
                            </p>
            <% end %>
        <% end %>
    </ul>

<!-- **** ADD COMMENT ******  -->
<%= form_for [@picture, @comment] do |f| %>   <!-- #new note, start at PICTURE and point to COMMENT=CREATE page -->
    <%= f.text_field(:body, placeholder: "Comment") %>
    
    
    <%= f.submit("Add Comment") %>
<% end %>
<!-- **** END COMMENT ******  -->
<BR>