<!DOCTYPE html>
<html>
  <head>
    <title>TravelSnaps</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  <!-- BOOTSTRAP CSS --> 
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  </head>

 <body>
 <!--NAV BAR in /partials/_navbar.html.erb -->
  <%  if logged_in? %>
     <%= render 'partials/navbar' %>
  <% end %>
    <% if logged_in? %>  <!--IF logged in, make logged in button -->
      Signed In As: <%= current_user.name %>
      <%= link_to("Logout", logout_path, method: 'delete') %>
    <% else %>
      <%= link_to("Login", new_session_path) %>
    <% end %>

    <%= yield %>
  </body>
</html>
